<div class="bg-dark mt-3 lm-2 border border-primary rounded-sm mt -3 ml-1" style="height: 20em;">

    <ul class="nav flex-column " >
        <li class="nav-item border border-primary">
            <a class="nav-link active" href="/usuarios">Usuários</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav -item border border-primary">
            <a class="nav-link" href="/marcas">Marcas</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link" href="/imagens">Imagens</a>
        </li>
    </ul>
</div>